<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Prekių sąrašas</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-controller="PrekeController" asp-action="Insert" class="btn btn-primary">
                    <i class="fa-solid fa-plus"></i> &nbsp; Įkelti naują prekę
                </a>

            </div>
        </div>

        <br /><br />


        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Kavos pavadinimas
                    </th>
                    <th>
                        Kaina
                    </th>

                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td width="30%">Braziliška kava</td>
                    <td width="10%">20</td>

                    <td class="text-center">
                        <div class="w-100 btn-group" role="group">
                            <a asp-action="Update" class="btn btn-primary mx-2">
                                <i class="fa-solid fa-pen-to-square"></i> &nbsp; Redaguoti
                            </a>
                            <a asp-action="Delete" class="btn btn-danger mx-2">
                                <i class="fa-solid fa-trash-can"></i> &nbsp; Ištrinti
                            </a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>



    </div>
</body>

</html>
